@import url("app.css");

.hero-section{
    position: relative;
    z-index: 1;
}
.hero-section .shape-content{
    position: absolute;
    width: 900px;
    top: -100px;
    right: -30px;
    z-index: -999;
}
.hero-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 90vh;
    margin: 0 10px;
    width: 100%;
}
.hero-section-container .hero-section-content h1{
    font-size: 3.2rem;
    margin-bottom: 20px;
    color: #111827;
    text-shadow: #000 1px 1px;
}
.hero-section-container .hero-section-content h1 span{
    font-weight: 300;
    font-size: 3.2rem;
}
.hero-section-container .hero-section-content p{
    font-size: 16px;
    margin: 20px 0;
    color: #374151;
    font-weight: 400;
}
.hero-section-container .hero-section-content button{
    background-color: #1E3A8A;
    padding: 10px 30px;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}
.hero-section-container .hero-section-content button:hover{
    background-color: #2563EB;
}



@media(max-width: 768px){
    .hero-section-container{
        flex-direction: column;
        gap: 50px;
    }
    .hero-section-container .hero-section-content h1, .hero-section-container .hero-section-content h1 span{
        font-size: 2rem;
        text-align: center;
    }
    .hero-section-container .hero-section-content button{
        margin: 0 25%;
    }
}
