:root{
    /* COLORS*/
    -colorPrimary001-: #1E3A8A;
    --colorPrimary002: #2563EB;
    --colorSec001: #059669;
    --colorSec002: #FACC15;
    --colorWhite001: #FFFFFF;
    --colorWhite002: #F9FAFB;
    --colorBlack001: #111827;
    --colorBlack002: #374151;
}
